In [3]:
x = 4+5+1 +5+1 +15+1+ 4.5+7+1+ 15+2+1 +10.5 +16+1 
print(x)

90.0

In [5]:
print(90/30)

3.0

In [7]:
print(90/45)

2.0

In [9]:
import pandas as pd
import numpy as np

def compute_log_diff(df, column_name):
    # Calculate the natural log of the specified column
    df['log_' + column_name] = np.log(df[column_name])
    # Calculate the difference between consecutive log values
    df['log_diff'] = df['log_' + column_name].diff()
    return df

# Example usage
data = {'values': [-0.473, 0.076, -0.084 , 0.017 , 0.060, 0.027, 0.052, 0.104, 0.053, 0.011]}
df = pd.DataFrame(data)
result_df = compute_log_diff(df, 'values')
print(result_df)

   values  log_values  log_diff
0  -0.473         NaN       NaN
1   0.076   -2.577022       NaN
2  -0.084         NaN       NaN
3   0.017   -4.074542       NaN
4   0.060   -2.813411  1.261131
5   0.027   -3.611918 -0.798508
6   0.052   -2.956512  0.655407
7   0.104   -2.263364  0.693147
8   0.053   -2.937463 -0.674099
9   0.011   -4.509860 -1.572397

C:\Users\abdul\anaconda3\Lib\site-packages\pandas\core\arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [11]:
import pandas as pd

# Define the momentum data
data = {
    "Stock": ["GOOG", "AAPL", "AMZN", "IBM", "BBBY", "NFLX", "MSFT", "TGT", "K", "M"],
    "Momentum": [-0.047328, 0.076627, -0.084410, 0.017652, 0.060648, 0.027967, 0.052058, 0.104326, 0.053881, 0.011036]
}

# Create a DataFrame
momentum_df = pd.DataFrame(data)

# Sort the DataFrame by Momentum values
momentum_df = momentum_df.sort_values(by='Momentum')

# Select the bottom 3 stocks to short
stocks_to_short = momentum_df.head(3)

print("Stocks to short:")
print(stocks_to_short)

Stocks to short:
  Stock  Momentum
2  AMZN -0.084410
0  GOOG -0.047328
9     M  0.011036

In [17]:
# Import pandas package 
import pandas as pd 
    
# making data frame 
data = pd.read_csv("https://media.geeksforgeeks.org/wp-content/uploads/nba.csv") 
    
# calling head() method  
# storing in new variable 
data_top = data.head() 

print(type(data_top))
print(set(data_top.head()))
    
# display 
data_top

<class 'pandas.core.frame.DataFrame'>
{'Team', 'College', 'Age', 'Weight', 'Position', 'Salary', 'Height', 'Number', 'Name'}

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [19]:
# Define the test scenarios
scenarios = [
    {"mean": 0.2, "p_value": 0.0049},
    {"mean": 6, "p_value": 0.5},
    {"mean": 2, "p_value": 0.15},
    {"mean": 4, "p_value": 0.034},
    {"mean": -0.5, "p_value": 0.046}
]

# Significance level
alpha = 0.05

# Check which scenarios reject the null hypothesis
results = []
for i, scenario in enumerate(scenarios):
    if scenario["p_value"] <= alpha:
        results.append(f"Scenario {i+1} (mean = {scenario['mean']}%, p-value = {scenario['p_value']})")

# Output results
results

['Scenario 1 (mean = 0.2%, p-value = 0.0049)',
 'Scenario 4 (mean = 4%, p-value = 0.034)',
 'Scenario 5 (mean = -0.5%, p-value = 0.046)']